@import 'vars';
@import 'global';
@import 'libs';
@import 'fonts';
@import 'reset';

.header {
  &__top {
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
  }

  &__text {
    margin-left: auto;
    margin-right: 50px;
    color: $link;
    span {
      color: $orange;
    }
  }

  &__phone {
    color: inherit;
  }

  &__box {
  }

  &__btn {
    padding: 6px;
    width: 72px;
    border-radius: 4px;
    text-align: center;
    color: $white;
    font-size: 12px;
  }
  &__btn-login {
    background-color: $accent;
  }
  &__btn-register {
    background-color: $orange;
    margin-left: 7px;
  }

  &__menu {
    background-color: $title;
  }
}

.logo {
  &__link {
  }

  &__img {
  }
}
.basket {
}
.menu {
  &__list {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 40px;
  }

  &__list-item {
  }

  &__list-link {
    color: $white;
    @extend %roboto-500;
  }
}

.search {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 533px;
  &__inner {
    padding: 145px 0 100px;
    color: $white;
    text-align: center;
  }

  &__title {
    font-size: 48px;
    @extend %roboto-700;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 20px;
    margin-bottom: 50px;
    @extend %roboto-500;
  }

  &__form {
    max-width: 670px;
    position: relative;
    margin: 0 auto;
  }

  &__input {
    box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 56px;
    border: none;
    font-size: 14px;
    @extend %roboto-500;
    padding-left: 25px;
    padding-right: 60px;
    &::placeholder {
      color: $paceholder;
      @extend %roboto-500;
    }
  }

  &__btn {
    position: absolute;
    border: none;
    background-color: transparent;
    padding: 20px;
    line-height: 0;
    fill: $default;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  &__btn-img {
    width: 20px;
    height: 20px;
  }
}

.products {
  background-color: $bg;
  padding: 110px 0;
  &__title {
  }

  &__inner {
  }

  &__btns {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    gap: 6px;
  }

  &__btn {
    padding: 7px 21px;
    border: none;
    background-color: $white;
    color: $title;
    @extend %roboto-500;
    cursor: pointer;
    transition: all ease 0.3s;
  }

  .mixitup-control-active {
    background-color: $orange;
    color: $white;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
  }

  &__item {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    max-width: 442px;
    width: 100%;
  }
}
.container-fluid {
}

.mix {
}
.category-a {
}
.product {
  &__item-img {
    max-width: 442px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
  }

  &__item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    min-height: 90px;
    background-color: $white;
    border-bottom: 1px solid $bg;
  }

  &__item-name {
    max-width: 310px;
  }

  &__item-title {
    display: block;
    color: $title;
    @extend %roboto-500;
    font-size: 18px;
  }

  &__item-category {
    display: block;
    color: $accent;
    font-size: 14px;
  }

  &__item-price {
    font-size: 20px;
    @extend %roboto-700;
    color: $title;
  }

  &__item-info {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &__item-author {
    font-size: 14px;
    @extend %roboto-500;
    // @include f700;
    color: $link;
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: inline-block;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 13px;
    }
  }

  &__item-star {
    display: flex;
    align-items: center;
  }
  &__item-number {
    color: #b0bec5;
    font-size: 12px;
    margin-left: 5px;
    span {
      color: $title;
    }
  }
}
.products__bottom-btn {
  text-align: center;
  button {
    margin: 45px 5px 0;
    background-color: $white;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    border: none;
    font-size: 16px;
    color: f$title;
    padding: 13px 30px;
    cursor: pointer;
  }
}

.product-slider {
  padding: 110px 0 120px;

  .swiper-pagination {
    position: static;
    margin-top: 65px;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #e8e8e8;
    opacity: 1;
    transition: all ease 0.3s;
  }

  .swiper-pagination-bullet-active {
    background-color: $accent;
  }
}

.advantages {
  background-color: $title;
  padding: 110px 0;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__title {
    color: $white;
    margin-bottom: 50px;
  }

  &__item {
    max-width: 370px;
    text-align: center;
    &:hover {
      .advantages__images {
        background-color: $accent;
      }
      .advantages__images-icon {
        fill: $white;
      }
      .advantages__item-title {
        color: $accent;
      }
    }
  }

  &__images {
    width: 114px;
    height: 114px;
    background-color: $white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 10px;
    transition: all ease 0.3s;
  }

  &__images-icon {
    width: 72px;
    height: 72px;
    fill: $black;
    transition: all ease 0.3s;
  }

  &__item-title {
    margin-bottom: 25px;
    font-size: 24px;
    color: $white;
    @extend %roboto-500;
    transition: all ease 0.3s;
  }

  &__item-text {
    color: #b0bec5;
  }
}

.author {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
		&__box {
      max-width: 650px;
      min-height: 215px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $accent;
		}

		&__title {
      font-size: 30px;
      color: $white;
      max-width: 260px;
      margin-right: 45px;
      @extend %roboto-400;
      span {
        @extend %roboto-700;
      }
		}

		&__link {
      font-size: 18px;
      padding: 14px 40px;
      background-color: $white;
      color: $title;
		}
}


@import 'media';
